<!doctype html>
<html lang=sv>
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width, initial-scale=1">
		<title>Vilken färg?</title>
		<link href="css/bootstrap.min.css" rel"stylesheet">
		<link href="quizstyle.css" rel="stylesheet">
	</head>
	<body>
		<h1>Vilken är din favoritfärg av dessa tre slumpvalda färger?</h1>
		<form action="/action_page.php">
			<input type="radio" name="favourite" value="Röd" checked> Röd<br>
			<input type="radio" name="favourite" value="Blå"> Blå<br>
			<input type="radio" namne="favourite" value="Grön"> Grön<br>
			<input type="submit" value="Nästa">
		</form>	
		<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</html>