<!doctype html>
<html lang=sv>
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width, initial-scale=1">
		<title>Knattequizzet</title>
		<link href="css/bootstrap.min.css" rel"stylesheet">
		<link href="quizstyle.css" rel="stylesheet">
	</head>
	<body>
		<h1>Vem av Knattarna ska du gifta dig med?</h1>
		<p>Du måste inte leva i tvåsamhet om du inte vill. Men om du väljer att göra det och vill leva ditt liv med en av knattarna, kan du svara på några enkla frågor här och få reda på vem av de tre som blir den lycklige! --> <a href="question.html">Starta Knatte-quizzet!</a>

		<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</html>