<!doctype html>
<html lang=sv>
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width, initial-scale=1">
		<title>Quiznödig?</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/quizstyle.css">
	</head>
	<body>
		<h1>Ankeborg Schmankeborg! Vad kan du egentligen?</h1>
		<p> Kristin Botås ger dig din kroppsvikt i guldpengar om du gör ett av de här quizzen!</p>
		{% for quiz in quizzes %}
				<p>{{ quiz.name }}</p>
		{% endfor %}		
		<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</html>	