<!doctype html>
<html lang=sv>
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width, initial-scale=1">
		<title>Quiznödig?</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/quizstyle.css">
	</head>
	<body>
		<h1>Har du koll?</h1>
		<p> Kör igång då!</p>
		<ul>
		{% for quiz in quizzes %}
				<p><a href="{% url 'quiz_page' quiz.quiz_number %}">
					{{ quiz.name }}
			</a></p>
		{% empty %}	
			<p><em>Det finns inga frågesporter ännu.</em></p>
		{% endfor %}	
		</ul>	
		<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script>
		<script src="js/bootstrap.min.js"></script>
	</body>
	</html>	