body {
    font-family: Helvetica sans-serif;
    padding: 0;
    margin: 0;
    background-color:  rgb(30, 185, 170);
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
         -o-user-select: none;
        -ms-user-select: none;
            user-select: none;
        }

.col-md-6 {
    padding-top: 200px
}

.col-md-10 {
    padding-top: 200px
}

h1 {
    color: lightsalmon;
    text-align: center;
    font-size: 50pt;
}

p {
    color: lightsalmon;
    text-align: center;
    font-size: 30pt;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    color: #eee;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .5);
}

.background1 { 
    background: url(/static/images/background2.png/);

}